/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  padding: 20px;
  width: 20px; /* ширина для вертикального скролла */
  height: 20px; /* высота для горизонтального скролла */
  background-color: #f2f2f2;
  overflow-x: scroll!important;
}

.ag-body-horizontal-scroll{
height: 8px!important;
  min-height: 8px!important;
  max-height: 8px!important;
}
.ag-body-horizontal-scroll-viewport{
  height: 8px!important;
  min-height: 8px!important;
  max-height: 8px!important;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 16px;
  border: 4px solid #f2f2f2;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a356c;
}

.app-logo {
  margin: auto auto auto 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  height: 64px;
  line-height: 60px;
  cursor: pointer;
}

.ant-collapse-content-box {
  padding: unset!important;
}

.app-logo span, .app-logo-settings span {
  font-weight: 700;
  margin: 0 2px;
}

.app-logo-settings {
  margin: auto auto auto 30px;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  height: 64px;
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
}

.app-header .col {
  flex-direction: unset;
}

@media screen and (max-width: 1100px) {
  .app-logo img {
    display: none;
  }
  .app-logo-settings img{
    display: none;
  }
}

.app-header {
  background-color: #2a356c;
  border-bottom: 1px solid #e8e8e8;
  z-index: 100;
}

.head-panel {
  position: unset;
}

.app-content{
  background-color: #fdfdfd;
}

#edit:hover {
  color: #5ed4f5;
  cursor: pointer;
}

#delete:hover {
  color: #dd1b1b;
  cursor: pointer;
}

.view-box{
  padding: 20px;
}


/*Button Sing in*/
.login-button {
  background-color: rgb(18, 18, 18) /*#3799f3*/;
  border: none;
  color: #fdfdfd;
  padding: 8px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 85px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 700px) , screen and (max-height: 600px) {
  .login-box{
    width: 300px;
    height: 228px;
    padding: 0px;
  }
  .lang-label-login{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: -25px;
    margin-right: 15px;
    color: rgb(18, 18, 18);
    text-shadow: 1px 1px 2px #d8d8d8;
    font-weight: 100;
  }

  .input-login {
    margin-left: 15px;
    width: 40%;
  }

  .login-form {
    margin-top: 10px;
    padding: 30px;
  }

  .login-button {
    margin-top: 10px;
    width: 100%;
  }
} 

/*Design for img ERROR*/
.error {
  width: 73px;
  height: 98px;
  margin-left: -104px;
  margin-top: -91px;
}

/*style for spinner*/
.loader {
  position: absolute;
  top: calc(30%);
  left: calc(40%);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  perspective: 1000px;
  z-index: 32000;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 15px solid #293468;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 15px solid #293468;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 15px solid #293468;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*style for small spinner*/
.small_loader {
  position: absolute;
  top: calc(0%);
  left: calc(-25%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  perspective: 1000px;
  z-index: 32000;
}

.small_inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.small_inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 8px solid #293468;
}

.small_inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 8px solid #293468;
}

.small_inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 8px solid #293468;
}

/*Antd styles*/

/*Drawer*/

.Drawer {
  z-index: 900 !important;
}

.ant-drawer-title {
  font-family: Roboto;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  color: #333333 !important;
}

.diagram .ant-drawer-body {
  padding: 0 0 80px 0 !important;
}

.dataset__delete_menu .ant-modal-footer,
.dataset__save_menu .ant-modal-footer {
  padding: 0px 0px 20px !important;
}

/*ServerFilter*/
.leftSplitter .ant-tree-node-content-wrapper-open .ant-tree-title {
  color: #B38136
}
.leftSplitter .ant-tree-iconEle {
  display: none !important;
}


/*Select*/

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #fff8e0 !important;
}

.ant-select-dropdown {
  /*overflow: hidden !important;*/
}

.select.ant-select-focused .ant-select-selection {
  border: 1px solid #2A356C !important;
  outline: none !important;
}

/*Отключение подписи ошибки у select */
.has-error .ant-form-explain, .has-error .ant-form-split, .show-help-leave-active {
  display: none !important;
  min-height: 0px !important;
}

.ant-form-item-with-help {
  margin: auto !important;
}

.ant-menu-submenu-title {
  color: black;
}

.circle-picker span div span div {
  border: 1px solid rgba(0,0,0,0.1);
}

/* Color Picker ! */
.ant-radio-group {
  margin-bottom: 10px !important;

}

.ant-radio-button-wrapper{
  color: black !important;
  backgroundColor: #ffffff !important;
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
}

.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-checked {
  border-bottom: 2px solid #eebf59 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  box-shadow: none !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
   opacity: 0 !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: 0;
  left: -1px;
  display: none !important;
  width: 0px !important;
  height: 100%;
  background-color: #ffffff !important;
  content: '';
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: black !important;
  background: #ffffff !important;
  border: none !important;
  border-bottom: 2px solid #eebf59 !important;

}

.sketch-picker {
  width: 271px !important;
  padding: 0 !important;
  box-sizing: initial;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: none !important;
}

/*DropDown*/

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
  background: #FFF8E0!important;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
  background: #ffffff !important;
}
ul.ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical{
  background-color: white!important;
}

/*Logo*/
.app-logo span, .app-logo-settings span {
  margin: unset!important;
}

/*Collapse*/

.ant-collapse-content.ant-collapse-content-active{
  padding: 16px;
}

 /*Authorization*/


.backGroundImage .row, .backGroundImage .col {
  display: block;
  position: relative;
  width: unset;
}

.headerDev-menu {
  display:flex;
  height: 80px;
  align-items: center;
}

@media screen and (min-width: 1441px) and (max-width: 1920px){
  .backGroundImage .secondColumn {
    display: block;
    background: #ffffff;
    height: 100%!important;
    width: 47.18%!important;
    float: right;
  }

  .firstColumn{
    width: 52.82%!important;
    height: 100%!important;
    float: left;
  }

  .lang-login {
    width: 35px;
    height: 35px;
    margin-top: 3.7%;
    margin-right: 6.1%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .lang-login .lang-label:hover {
    color: #2A356C !important;
  }

  .nameOfApp {
    margin-top: 12%;
    text-align: center;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 7.4%;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #2A356C;
  }

  .secondColumn .Login {
    text-align: center;
    margin-right: 330px!important;
    margin-top: 4.2%;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 0.37%;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 368px !important;
    height: 34px !important;
  }

  .secondColumn .Password {
    margin-right: 322px!important;
    text-align: center;
    margin-top: 1.5%;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .secondColumn .button {
    display: block;
    border-radius: 4px;
    margin-top: 3.5%

  }

  .loginButton {
    background: #424D78;
    width: 94px !important;
    height: 34px !important;
    text-align: center;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal!important;
    font-size: 14px !important;
    line-height: 16px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 8px; /* Поля вокруг текста */
    background: #FFCC66; /* Цвет фона */
    width: 100%; /* Ширина слоя */
  }

  .yellowLineColumn1 {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 8px; /* Поля вокруг текста */
    background: #FFCC66; /* Цвет фона */
    width: 100%; /* Ширина слоя */
  }

  .backGroundImage {
    min-height: 98%!important;
    width: 100%!important;
    height: 100vh!important;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1920.jpg);
}

  .comfort {
    margin-top: 16%;
    /*font-family: Roboto;*/
    margin-left: 5%;
    font-style: normal;
    font-weight: 500!important;
    font-size: 58px;
    line-height: 53px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    /*font-family: Roboto;*/
    font-weight: 700!important;
    font-size: 58px;
    line-height: 53px;
    color: #FFCC66;
    opacity: 1;
  }

  .secondLine {
    margin-top: 35px;
    /*font-family: Roboto;*/
    margin-left: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 30px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px){
  .backGroundImage .secondColumn {
    background: #ffffff;
    height: 100%;
    width: 41.7%!important;
    float: right;
  }

  .firstColumn{
    width: 52.3%!important;
    float: left;
  }

  .lang-login {
    width: 28px;
    height: 16px;
    margin-top: 2.6%;
    margin-right: 5.3%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .lang-login .lang-label:hover {
    color: #2A356C !important;
  }

  .nameOfApp {
    margin-top: 13.4%;
    text-align: center;
   /* font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 12.6%;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2A356C;
  }

  .secondColumn .Login {
    margin-right: 283px!important;
    text-align: center;
    margin-top: 2.6%;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 0.4%;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 320px !important;
    height: 32px !important;
  }

  .secondColumn .Password {
    margin-right: 280px!important;
    text-align: center;
    margin-top: 12px;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .secondColumn .button {
    display: block;
    border-radius: 4px;
    margin-top: 3.4%;

  }

  .loginButton {
    background: #424D78;
    width: 94px !important;
    height: 32px !important;
    text-align: center;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal!important;
    font-size: 14px !important;
    line-height: 16px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 7px; /* Поля вокруг текста */
    background: #FFCC66; /* Цвет фона */
    width: 100%; /* Ширина слоя */
  }

  .yellowLineColumn1 {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 7px; /* Поля вокруг текста */
    background: #FFCC66; /* Цвет фона */
    width: 100%; /* Ширина слоя */
  }

  .backGroundImage {
    height: 100%!important;
    width: 100%!important;
    height: 100vh!important;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1440.jpg);
  }

  .comfort {
    margin-top: 12.8%;
    /*font-family: Roboto;*/
    margin-left: 7.6%;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 66px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    /*font-family: Roboto;*/
    font-weight: 700;
    font-size: 47px;
    line-height: 66px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    margin-top: 18px;
    /*font-family: Roboto;*/
    margin-left: 7.6%;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 37px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}


@media screen and (min-width: 801px) and (max-width: 1280px) {
  .backGroundImage .secondColumn {
    display: block;
    background: #ffffff;
    height: 100%;
    width: 46.8%!important;
    float: right;
  }

  .firstColumn{
    width: 53.2%!important;
    float: left;
  }

  .lang-login {
    width: 28px;
    height: 16px;
    margin-top: 3.3%;
    margin-right: 35.3%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .lang-login .lang-label:hover {
    color: #2A356C !important;
  }

  .nameOfApp {
    margin-top: 11%;
    text-align: center;
  /*  font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 13%;
    /*  font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2A356C;
  }

  .secondColumn .Login {
    margin-top: 3.3%;
    text-align: center;
    margin-right: 259px!important;
    /*  font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 4px;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px !important;
    height: 32px !important;
  }

  .secondColumn .Password {
    text-align: center;
    margin-right: 255px!important;
    margin-top: 1.6%;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .secondColumn .button {
    display: block;
    border-radius: 4px;
    margin-top: 4.4%;

  }

  .loginButton {
    background: #424D78;
    width: 94px !important;
    height: 32px !important;
    text-align: center;
    /*  font-family: Roboto;*/
    font-style: normal;
    font-weight: normal!important;
    font-size: 14px !important;
    line-height: 16px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 5px; /* Поля вокруг текста */
    background: #FFCC66; /* Цвет фона */
    width: 100%; /* Ширина слоя */
  }

  .yellowLineColumn1 {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 5px; /* Поля вокруг текста */
    background: #FFCC66; /* Цвет фона */
    width: 100%; /* Ширина слоя */
  }

  .backGroundImage {
    height: 100%;
    width: 100%;
    height: 100vh!important;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1280.jpg);
  }

  .comfort {
    margin-top: 13%;
    /*  font-family: Roboto;*/
    margin-left: 9%;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    /*  font-family: Roboto;*/
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    margin-top: 14px;
    /*  font-family: Roboto;*/
    margin-left: 9%;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}


@media screen and (max-width: 800px) {

  .backGroundImage .secondColumn {
    background: #ffffff;
    height: 100%!important;
    width: 100%!important;
  }

  .firstColumn{
    height: 0!important;
    width: 0!important;
  }

  .lang-login {
    width: 28px;
    height: 16px;
    margin-top: 4%!important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 96%;
    color: #8C8C8C;
  }

  .lang-login .lang-label:hover {
    color: #2A356C !important;
  }

  .nameOfApp {
    margin-top: 5.5%;
    text-align: center;
 /*   font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 12.3%;
    /*   font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2A356C;
  }

  .secondColumn .Login {
    text-align: center;
    margin-right: 325px!important;
    margin-top: 4%!important;
    /*   font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 4px;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 368px !important;
    height: 32px !important;
  }

  .secondColumn .Password {
    text-align: center;
    margin-right: 325px!important;
    margin-top: 2%!important;
    /*   font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .secondColumn .button {
    display: block;
    border-radius: 4px;
    margin-top: 4.5%;

  }

  .loginButton {
    background: #424D78;
    width: 98px !important;
    height: 32px !important;
    text-align: center;
    /*   font-family: Roboto;*/
    font-style: normal;
    font-weight: normal!important;
    font-size: 12px !important;
    line-height: 14px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px;
    background: #FFCC66;
    width: 100%;
  }

  .yellowLineColumn1 {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px;
    background: #FFCC66;
    width: 100%;
  }

  .backGroundImage {
    height: 0px;
    width: 100%;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1920.jpg);
  }


  .comfort {
    padding-top: 0px;
    /*   font-family: Roboto;*/
    margin-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 0px;
    line-height: 0px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
   /*   font-family: Roboto;*/
    font-weight: 500;
    font-size: 0px;
    line-height: 0px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    padding-top: 0px;
    /*   font-family: Roboto;*/
    margin-left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1441px) and (max-width: 3900px){


  .app-logo {
     margin-top: 8px!important;
  }
  .app-logo-settings {
    margin-top: 8px!important;
  }

  .nameOfAppFirstWord{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 22px!important;
    line-height: 26px!important;
    color: #FFFFFF!important;
  }
.nameOfAppSecondWord{
  font-family: Roboto!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 22px!important;
  line-height: 26px!important;
  color: #FFFFFF!important;
}

.applicationName{
  font-family: Roboto!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 16px!important;
  line-height: 19px!important;

}
  .applicationName:hover{
    color: white!important;
  }
  .appMoreWord:hover{
    color: white!important;
  }

.appMoreWord{
  font-family: Roboto!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 16px!important;
  line-height: 19px!important;
}

.lang-label{
  font-family: Roboto!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 16px!important;
  color: #B3B3B3!important;
  margin-top: 1px!important;
  margin-right: 10px!important;
  text-decoration: none!important;
}
.lang-label:hover {
  color: #fff !important;
}

.NameOfUser{
  font-family: Roboto!important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 16px!important;
  color: #FFFFFF!important;
}
  .HeaderWithNamesSmallScreen{
    display: none!important;
  }

  .namesOfDevMenu{
    font-family: Roboto!important;
    font-style: normal!important;;
    font-weight: normal!important;;
    font-size: 16px!important;;
    line-height: 19px!important;;
  }

  .headerDev-menu li:hover .namesOfDevMenu {
    color: white !important;
  }
  .devMenuSmallWidth{
    display: none;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1440px){

  .nameOfAppFirstWord{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    color: #FFFFFF!important;
  }
  .nameOfAppSecondWord{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 16px!important;
    line-height: 19px!important;
    color: #FFFFFF!important;
  }

  .applicationName{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 12px!important;
    line-height: 14px!important;

  }
  .applicationName:hover{
    color: white!important;
  }
  .appMoreWord:hover{
    color: white!important;
  }

  .appMoreWord{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 12px!important;
    line-height: 14px!important;
  }
  .lang-label{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 12px!important;
    line-height: 14px!important;
    color: #B3B3B3!important;
    margin-top: 2px!important;
    margin-right: 10px!important;
    text-decoration: none!important;
  }
  .lang-label:hover {
    color: #fff !important;
  }
  .NameOfUser{
    font-family: Roboto!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-size: 12px!important;
    line-height: 14px!important;
    color: #FFFFFF!important;
  }
  .namesOfDevMenu{
    font-family: Roboto!important;
    font-style: normal!important;;
    font-weight: normal!important;;
    font-size: 12px!important;;
    line-height: 14px!important;;
  }

  .HeaderWithNames{
    margin-right: 40px!important;
  }
  .HeaderWithNamesSmallScreen{
    display: none!important;
  }

  .devMenuSmallWidth{
    display: none!important;
  }
  .app-logo {
    margin-top: 7px!important;
  }

  .app-logo-settings {
    margin-top: 6px!important;
  }
  .header-menu{
    line-height: 2;
  }

}

@media screen and (min-width: 950px) and (max-width: 1024px) {


  .nameOfAppFirstWord {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #FFFFFF !important;
  }

  .nameOfAppSecondWord {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #FFFFFF !important;
  }

  .app-header {
    height: 80px !important;
  }

  .HeaderWithNamesSmallScreen {
    margin-bottom: 15px !important;
    margin-right: 10px;
  }


  .headerRightSide {
    padding-bottom: 15px;
  }

  .app-logo {
    margin-right: 20px;
  }

  .HeaderWithNames {
    display: none !important;
  }

  .lang-label {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #B3B3B3 !important;
    margin-top: 1px !important;
    margin-right: 10px!important;
    text-decoration: none!important;
  }
  .lang-label:hover {
    color: #fff !important;
  }

  .HeaderWithNamesSmallScreen {
    display: inline-block !important;
    float: left;
  }

  .devMenuSmallWidth {
    display: inline-block !important;
    float: left;
  }

  .ant-col.ant-col-14.col {
    justify-content: unset !important;
  }

  .headerDev-menu{
    display: none!important;
  }

  .app-logo-settings{
    margin: auto auto 15px 30px;
  }
  .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected > a{
    background-color: unset!important;
  }

}

@media screen and (min-width: 500px) and (max-width: 949px) {


  .nameOfAppFirstWord {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #FFFFFF !important;
    display: none!important;
  }

  .nameOfAppSecondWord {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #FFFFFF !important;
    display: none!important;
  }

  .headerRightSide{
    width: unset!important;
  }

  .app-header {
    height: 64px !important;
  }
  .ant-col.ant-col-5.headerAppNameSpanLarge{
    display: none!important;
  }

  .HeaderWithNamesSmallScreen {
    margin-bottom: 15px !important;
    margin-right: 10px;
  }


  .headerRightSide {
    padding-bottom: 15px;
  }

  .app-logo {
    margin-right: 20px;
  }

  .HeaderWithNames {
    display: none !important;
  }

  .lang-label {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #B3B3B3 !important;
    margin-top: 1px !important;
    margin-right: 10px!important;
    text-decoration: none!important;
  }
  .lang-label:hover {
    color: #fff !important;
  }

  .HeaderWithNamesSmallScreen {
    display: inline-block !important;
    float: left;
  }

  .devMenuSmallWidth {
    display: inline-block !important;
    float: left;
  }

  .ant-col.ant-col-14.col {
    justify-content: unset !important;
  }

  .headerDev-menu{
    display: none!important;
  }

  .app-logo-settings{
    margin: auto auto 15px 30px;
  }
  .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected > a{
    background-color: unset!important;
  }

}

.ant-modal{
  top: 30% !important;
}
/*.ant-modal-body {*/
/*  padding: 0 24px 20px !important;*/
/*}*/

.ant-modal-content{
  height: auto !important;
}
#filterButton .ant-modal-content {
  width: auto;
}

/*Calculator button*/
.calc-block {
  width: 207px;
  height: 219px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
}

.calc-button {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #D9D9D9 !important;
  color: black !important;
  margin: 5px;
}

/*Diagram Bar*/

.selectInGetDiagramPanel{
  height: 56px;
  background: #F2F2F2 !important;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.checkboxDiagram .input-checkbox{
    display: unset!important;
  padding-left: unset!important;
}

/*Diagram Drawer*/

.chooseButton{
  min-width: 24px!important;
  width: 24px!important;
  min-height: 24px!important;
  height: 24px!important;
  padding: 0;
  border: 1px solid #424D78;
  box-sizing: border-box;
  border-radius: 4px;
}

 #diagramButton .ant-drawer-body {
     padding: unset!important;
  }

#diagramButton .ant-form-item{
  margin-bottom: 6px!important;
}

.chooseRow{
  content: 'space-between';
}

.chooseCol{
  display: flex!important;
  width: 155px;
  height: 25px;
}

.nameOfDiagram{
  margin: 8px 0;
}

.bottomButtons{
  content: 'flex-start';
  position: fixed;
  left: 0; bottom: 0;
}
.Buttons{
  font-size: 12px;
  width: 116.71px;
  height: 32px;
  font-weight: unset!important;
}

.Bottom .btn{
  width: 136px;
  height: 32px;
}

#diagram .ant-drawer-body{
  padding: unset!important;
}

#diagram .ant-form-item{
  margin-bottom: 6px!important;
}


.diagrams{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal!important;
  font-size: 20px!important;
  line-height: 23px;
  color: #333333;
}

.chooseType{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500!important;
  font-size: 16px!important;
  line-height: 19px;
  color: #333333;
}

.types{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 16px;
  color: #333333;
  margin-top: 5px!important;
  content: 'space-between'!important;
  margin-left: 12px;
}

.ant-tag .anticon-close{
border: unset!important;
}

#selectButton .col, #editNotificationButton .col {
  justify-content: start;
}

/*Button in edit modalr*/

/*button.btn.edit-button-right{*/
/*  margin-left: 16px!important;*/
/*}*/

.ant-dropdown.ant-dropdown-placement-bottomCenter{
  height: 200px!important;
  top: 70px!important;
  list-style-type: unset!important;
  position: fixed!important;
}

li.ant-dropdown-menu-item.headerMenu.ant-dropdown-menu-item:hover {
    color: #B38136 !important;
  background: unset!important;
  }

.appNameInMenu:hover{
  color: #B38136 !important;
}

li.ant-dropdown-menu-item.headerMenu.ant-dropdown-menu-item {
  margin-top: 16px;
  margin-bottom: 16px;
}

.lisOfAppNames{
  justifyContent: space-between!important;
  width: 100%!important;
  margin-left: 70px!important;
}

.linksInMoreWord {
  justify-content: center;
}

a.linksInMoreWord:hover{
  text-decoration: none!important;
}

.href img{
  display: none;
}

.datasearch .ant-tabs-top-bar {
  width: 80%
}

.datasearch_region {
  background: white;
  /*max-width: 1808px !important;*/
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px 16px 0;
}

.ag-tooltip{
  background-color: #2A356C!important;
  color: #FFFFFF!important;
  border-radius: 4px!important;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #545454;
}

.ag-tooltip::after {
  content: "";
  position: absolute;
  top: -29%;
  left: 15%;
  transform: rotate(180deg)!important;
  border: 5px solid #2A356C;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #2A356C;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
}

.action-menu-item:first-child{
  margin-top: unset!important;
}

/*li.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon::before{
  content: "";
  position: absolute;
  top: -29%;
  left: 15%;
  transform: rotate(180deg)!important;
  border: 5px solid #2A356C;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #2A356C;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
}*/

.datasearch_region .input-checkbox {
  margin: 18px 0 0 16px;
}

.datasearch_region .ant-form-item {
  margin-bottom: 15px;
}
.datasearch_region .hint div,
.select_option_tag .hint div {
  max-width: 53px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*Notification message*/
.ant-notification {
  z-index: 100000 !important;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove .ant-select-remove-icon {
  margin-left: 5px;
  color: #424D78;
  border-radius: 100px;
  border: 1.5px solid #424D78;
}


/*DataSearch Drawer*/
.datasearch__filter__drawer .table {
  overflow-x: hidden !important;
}

.datasearch__filter__drawer .ant-drawer-body {
padding: 3px 24px;
}

.datasearch__filter__drawer .ant-drawer-close,
.datasearch__filter__drawer .ant-pagination {
  display: none;
}

.datasearch__filter__drawer thead th:first-child,
.datasearch__filter__drawer tbody td:first-child{
  width: 9%;
  padding-left: 40px !important;
}

.datasearch__filter__drawer tbody td:nth-child(2){
  overflow: hidden;
  text-overflow: ellipsis;
  width: 570px;
  max-width: 570px;
  /*height: 49px;*/
  border-collapse: unset;
  padding: 13px 10px !important;
  line-height: 16px;
}

.datasearch__filter__drawer .ant-table-tbody > tr > td {
  vertical-align: baseline;
}

.datasearch__filter__drawer .ant-table-wrapper {
  overflow-x: hidden !important;
}

.datasearch__filter__drawer tbody td:nth-child(2).open {
  white-space: normal;
}

.datasearch__filter__drawer tbody td:last-child {
  width: 20px;
}

/*Datasearch create form modal*/

.datasearch__create__modal .ant-modal-footer {
  text-align: unset;
}

.datasearch__create__modal .ant-modal-footer button{
  margin-right: 8px;
}

.datasearch__create__modal .btn-primary {
  padding: 0;
}

.datasearch__create__modal .btn-primary span {
  padding: 9px 32px;
}

.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #FFF8E0 !important;
}

.ant-table-tbody > tr > td,
.ant-table-bordered .ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table-thead > tr, .ant-table-tbody > tr {
  padding: 0px 16px !important;
  min-height: 40px !important
}

.developer_table .ant-pagination {
  display: none;
}
.developer_paginator #paginator {
  padding: 10px 0px;
  margin: 0 !important;
  background-color: #E6E6E6;
}
.developer_paginator #paginator #pageView {
  bottom: 11px;
}

#root,
#root > div,
#root > div > section {
  height: 100%;
}


/*GRID*/

.ag-row:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: #FFF8E0 !important
}

.selectWithSearch .has-error .ant-calendar-picker-icon::after, .has-error .ant-time-picker-icon::after, .has-error .ant-picker-icon::after, .has-error .ant-select-arrow, .has-error .ant-cascader-picker-arrow {
  opacity: 0;
}


/* Antd V.4 !!!!!!!!!! */

.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: unset !important;
}

.pane.horizontal.primary .ant-row-space-around {
  justify-content: space-around;
}
