/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #f2f2f2;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a356c;
}

.app-logo {
  margin: auto auto auto 30px;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  height: 64px;
  line-height: 60px;
  cursor: pointer;
}

.ant-collapse-content-box {
  padding: unset!important;
}

.app-logo span, .app-logo-settings span {
  font-weight: 700;
  margin: 0 2px;
}

.app-logo-settings {
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  height: 64px;
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .app-logo img {
    display: none;
  }
}

.app-header {
  background-color: #2a356c;
  border-bottom: 1px solid #e8e8e8;
}

.app-content{
  background-color: #fdfdfd;
}

#edit:hover {
  color: #5ed4f5;
  cursor: pointer;
}

#delete:hover {
  color: #dd1b1b;
  cursor: pointer;
}

.view-box{
  padding: 20px;
}


/*Button Sing in*/
.login-button {
  background-color: rgb(18, 18, 18) /*#3799f3*/;
  border: none;
  color: #fdfdfd;
  padding: 8px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 85px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 700px) , screen and (max-height: 600px) {
  .login-box{
    width: 300px;
    height: 228px;
    padding: 0px;
  }
  .lang-label-login{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: -25px;
    margin-right: 15px;
    color: rgb(18, 18, 18);
    text-shadow: 1px 1px 2px #d8d8d8;
    font-weight: 100;
  }

  .input-login {
    margin-left: 15px;
    width: 40%;
  }

  .login-form {
    margin-top: 10px;
    padding: 30px;
  }

  .login-button {
    margin-top: 10px;
    width: 100%;
  }
} 

/*Design for img ERROR*/
.error {
  width: 73px;
  height: 98px;
  margin-left: -104px;
  margin-top: -91px;
}

/*style for spinner*/
.loader {
  position: absolute;
  top: calc(30%);
  left: calc(40%);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  perspective: 1000px;
  z-index: 32000;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 15px solid #293468;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 15px solid #293468;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 15px solid #293468;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*style for small spinner*/
.small_loader {
  position: absolute;
  top: calc(0%);
  left: calc(-25%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  perspective: 1000px;
  z-index: 32000;
}

.small_inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.small_inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 8px solid #293468;
}

.small_inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 8px solid #293468;
}

.small_inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 8px solid #293468;
}

/*Antd styles*/

/*Drawer*/
.ant-drawer {
  position: absolute !important;
  /*transform: translateY(-43%) !important;*/
}

.ant-drawer-header {
  padding: 16px 24px 16px 40px !important;
}

.ant-drawer-body {
  padding: 10px 40px 10px 40px !important;
}

/*ServerFilter*/
.leftSplitter .ant-tree-node-content-wrapper-open .ant-tree-title {
  color: #B38136
}
.leftSplitter .ant-tree-iconEle {
  display: none !important;
}


/*Select*/

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #fff8e0 !important;
}

.ant-select-dropdown-menu {
  /*overflow: hidden !important;*/
}

/*Отключение подписи ошибки у select */
.has-error .ant-form-explain, .has-error .ant-form-split, .show-help-leave-active {
  display: none !important;
  min-height: 0px !important;
}

.ant-form-item-with-help {
  margin: auto !important;
}

.ant-menu-submenu-title {
  color: black;
}

.circle-picker span div span div {
  border: 1px solid rgba(0,0,0,0.1);
}

/* Color Picker ! */
.ant-radio-group {
  margin-bottom: 10px !important;

}

.ant-radio-button-wrapper{
  color: black !important;
  backgroundColor: #ffffff !important;
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
}

.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-checked {
  border-bottom: 2px solid #eebf59 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  box-shadow: none !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
   opacity: 0 !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: 0;
  left: -1px;
  display: none !important;
  width: 0px !important;
  height: 100%;
  background-color: #ffffff !important;
  content: '';
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: black !important;
  background: #ffffff !important;
  border: none !important;
  border-bottom: 2px solid #eebf59 !important;

}

.sketch-picker {
  width: 271px !important;
  padding: 0 !important;
  box-sizing: initial;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: none !important;
}
/* Paginator ! */


.ant-select-sm .ant-select-selection--single {
  height: 20px;
  width: 104px;
  margin-left: 40px;
}

.ant-pagination.mini .ant-pagination-options-quick-jumper input {
  margin-left: 16px;
  width: 36px !important;

}
.ant-pagination.mini .ant-pagination-item{
  margin: 0 5px !important;
}
.ant-pagination.mini .ant-select-sm .ant-select-selection--single{
  margin-left: 12px;
}
.ant-pagination-item-link{
  margin-left: 20px;
  margin-right: 20px;
}
.ant-pagination.mini .ant-pagination-options-quick-jumper {
  margin-left: 12px;
}

.ant-pagination.mini .ant-pagination-item-active {
  font-weight: 500;
  background: #FFF8E0;
  border: 1px solid #FFCC66;
  box-sizing: border-box;
  border-radius: 2px;
}

.ant-pagination.mini .ant-select-sm .ant-select-selection__rendered {
  margin-left: 12px;
  line-height: 22px;
}

.ant-pagination.mini .ant-pagination-prev
  :hover{
    font-size: 12px;
     color: #022af8;
   }

.ant-pagination.mini .ant-pagination-next
:hover{
  font-size: 12px;
  color: #022af8;
}

/*Logo*/
.app-logo span, .app-logo-settings span {
  margin: unset!important;
}

 /*Authorization*/



@media screen and (min-width: 1441px) and (max-width: 1920px){
  .secondColumn {
    background: #ffffff;
    height: 100%!important;
    width: 47.18%!important;
    float: right;
  }

  .firstColumn{
    width: 52.82%!important;
    height: 100%!important;
    float: left;
  }

  .lang-login {
    width: 35px;
    height: 35px;
    margin-top: 3.7%;
    margin-right: 6.1%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .nameOfApp {
    margin-top: 12%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 7.4%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #2A356C;
  }

  .Login {
    margin-top: 4.2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 0.37%;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 268px !important;
    height: 27px !important;
  }

  .Password {
    margin-top: 1.1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .button {
    border-radius: 4px;
    margin-top: 3.5%

  }

  .loginButton {
    background: #424D78;
    width: 94px !important;
    height: 29px !important;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal!important;
    font-size: 14px !important;
    line-height: 16px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    width: 100%;
    height: 16px;
    background-color: #FFCC66;
    margin-top: 40.75%;
  }

  .yellowLineColumn1 {
    width: 100%;
    height: 16px;
    background-color: #FFCC66;
    margin-top: 63%;
  }

  .backGroundImage {
    height: 98.6%!important;
    width: 100%!important;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1920.jpg);
  }

  .comfort {
    margin-top: 16%;
    font-family: Roboto;
    margin-left: 5%;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 53px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 43px;
    line-height: 53px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    margin-top: 16px;
    font-family: Roboto;
    margin-left: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px){
  .secondColumn {
    background: #ffffff;
    height: 920px;
    width: 41.7%!important;
  }

  .firstColumn{
    width: 52.3%!important;
  }

  .lang-login {
    width: 28px;
    height: 16px;
    margin-top: 1.6%;
    margin-right: 2.2%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .nameOfApp {
    margin-top: 9.2%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 98px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2A356C;
  }

  .Login {
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 4px;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 368px !important;
    height: 32px !important;
  }

  .Password {
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .button {
    border-radius: 4px;
    margin-top: 41px;

  }

  .loginButton {
    background: #424D78;
    width: 98px !important;
    height: 32px !important;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 14px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    width: 100%;
    height: 12px;
    background-color: #FFCC66;
    margin-top: 331px;
  }

  .yellowLineColumn1 {
    width: 100%;
    height: 12px;
    background-color: #FFCC66;
    margin-top: 617px;
  }

  .backGroundImage {
    height: 99%;
    width: 100%;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1440.jpg);
  }

  .container {
    background: rgba(42, 53, 108, 0.5);
    height: 908px;
    width: 100%;
    position: relative;
  }

  .comfort {
    padding-top: 173px;
    font-family: Roboto;
    margin-left: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    padding-top: 16px;
    font-family: Roboto;
    margin-left: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}


@media screen and (max-width: 1280px) {
  .secondColumn {
    background: #ffffff;
    height: 720px;
    width: 600px;
  }

  .firstColumn{
    width: 680px!important;
  }

  .lang-login {
    width: 28px;
    height: 16px;
    margin-top: 24px;
    margin-right: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .nameOfApp {
    margin-top: 90px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 98px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2A356C;
  }

  .Login {
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 4px;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 368px !important;
    height: 32px !important;
  }

  .Password {
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .button {
    border-radius: 4px;
    margin-top: 32px;

  }

  .loginButton {
    background: #424D78;
    width: 98px !important;
    height: 32px !important;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal!important;
    font-size: 12px !important;
    line-height: 14px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    width: 100%;
    height: 12px;
    background-color: #FFCC66;
    margin-top: 221.5px;
  }

  .yellowLineColumn1 {
    width: 100%;
    height: 12px;
    background-color: #FFCC66;
    margin-top: 481px;
  }

  .backGroundImage {
    height: 720px;
    width: 1280px;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1280.jpg);
  }

  .container {
    background: rgba(42, 53, 108, 0.5);
    height: 708px;
    width: 100%;
    position: relative;
  }

  .comfort {
    padding-top: 130px;
    font-family: Roboto;
    margin-left: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    padding-top: 16px;
    font-family: Roboto;
    margin-left: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 800px) {
  .secondColumn {
    background: #ffffff;
    height: 600px;
    width: 800px!important;
  }


  .lang-login {
    width: 28px;
    height: 16px;
    margin-top: 24px;
    margin-right: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 95%;
    color: #8C8C8C;
  }

  .nameOfApp {
    margin-top: 90px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #2A356C;
  }

  .authorizing {
    text-align: center;
    margin-top: 98px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2A356C;
  }

  .Login {
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputLogin {
    text-align: center;
    margin-top: 4px;

  }

  .input-login {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 368px !important;
    height: 32px !important;
  }

  .Password {
    margin-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }

  .inputPassword {
    text-align: center;
    margin-top: 4px;
  }

  .button {
    border-radius: 4px;
    margin-top: 32px;

  }

  .loginButton {
    background: #424D78;
    width: 98px !important;
    height: 32px !important;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal!important;
    font-size: 12px !important;
    line-height: 14px;
    color: #FFFFFF;
  }

  .yellowLineColumn2 {
    width: 100%;
    height: 12px;
    background-color: #FFCC66;
    margin-top: 101px;
  }

  .yellowLineColumn1 {
    width: 0%;
    height: 0px;
    background-color: #FFCC66;
  }

  .backGroundImage {
    height: 0px;
    width: 0px;
    position: relative;
    background-image: url(../icons/BackGroundForLogin1920.jpg);
  }

  .container {
    background: rgba(42, 53, 108, 0.5);
    height: 0px;
    width: 0%;
    position: relative;
  }

  .comfort {
    padding-top: 0px;
    font-family: Roboto;
    margin-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 0px;
    line-height: 0px;
    color: #FFFFFF;
    opacity: 1;

  }

  .comfortWord {
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0px;
    line-height: 0px;
    color: #FFDD8F;
    opacity: 1;
  }

  .secondLine {
    padding-top: 0px;
    font-family: Roboto;
    margin-left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    opacity: 1 !important;
    color: #FFFFFF;
  }
}




.ant-modal-content{
  height: auto !important;
}
#filterButton .ant-modal-content {
  width: auto;
}

/*Calculator button*/
.calc-block {
  width: 194px;
  height: 219px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
}

.calc-button {
  width: 24px !important;
  height: 24px !important;
  border: 1px solid #D9D9D9 !important;
  color: black !important;
  margin: 5px;
}

