/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /*color: rgb(135,75,199);*/
    color: rgba(0, 0, 0, 0.65);

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/*!* VARIABLES *!*/

:root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #f9f9f9;
    /*--neutral-color: #fff;*/
    --neutral-color: #fdfdfd;
}

/*!* GENERAL *!*/

.headerCalendar {
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 1.4em 0;
    border-bottom: 1px solid var(--border-color);
    /*background: var(--neutral-color);*/
}

.headerCalendar #logo {
    font-size: 175%;
    text-align: center;
    margin-right: 39%;
    margin-left: 39%;
}

.col-text {
   /* color: rgb(135,75,199);*/
    color: rgba(0, 0, 0, 0.65);
    font-weight: initial;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    flex-basis: 0;
    max-width: 100%;
}

.col-start {
    flex-grow: 3;
    justify-content: flex-start;
    text-align: end;
}

.col-center {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.col-end {
    flex-grow: 3;
    justify-content: flex-end;
    text-align: start;
}

/*!* Calendar *!*/

.calendar {
    display: block;
    position: relative;
    width: 100%;
    line-height: initial;
    background: var(--neutral-color);
    border: 1px solid var(--border-color);
}

.calendar .header {
    text-transform: capitalize;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
    height: 49px;
}

.calendar .header .icon {
    cursor: pointer;
    transition: .15s ease-out;
}

.calendar .header .icon:hover {
    transform: scale(1.75);
    transition: .25s ease-out;
    color: var(--main-color);
}

/*!*День недели*!*/
.calendar .days {
    font-weight: 400;
    font-size: 100%;
    padding: .75em 0;
    border-bottom: 1px solid var(--border-color);
}

/*!*Даты в месяце*!*/
.calendar .body .cell {
    position: relative;
    min-height: 12vh;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
}

/*!*Подсветка ячейки при наведении мыши*!*/
.calendar .body .cell:hover {
    background: var(--bg-color);
    transition: 0.5s ease-out;
}

.calendar .body .row {
    border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
     border-bottom: none;
 }

.calendar .body .cell:last-child {
    border-right: none;
}

.calendar .body .cell .number {
    position: absolute;
    font-size: 82.5%;
    line-height: 1;
    top: .75em;
    right: .75em;
    font-weight: 600;
}

.calendar .body .cell .title {
    font-size: 82.5%;
    font-weight: 600;
    margin-left: 6px;
}

.calendar .body .disabled {
    color: var(--text-color-light);
    pointer-events: none;
}

/*Скрыть цифорку слева*/
.calendar .body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -.2em;
    right: -.05em;
    transition: .25s ease-out;
    letter-spacing: -.07em;
}

/*Отобразить цифорку на заднем фоне*/
.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
    opacity: 0.05;
    transition: .5s ease-in;
}

/*Выровнять ячейки по ширине*/
.calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100%/7);
    /*width: calc(100%/7);*/
}


.gradient {
    background: linear-gradient(90deg,
    rgb(61,197,255),
    rgb(66,189,251),
    rgb(69,183,249),
    rgb(73,177,246),
    rgb(77,171,273),
    rgb(80,166,241),
    rgb(83,161,239),
    rgb(87,155,236),
    rgb(90,149,233),
    rgb(94,143,230),
    rgb(98,136,227),
    rgb(101,130,225),
    rgb(107,121,221),
    rgb(110,115,218),
    rgb(114,110,215),
    rgb(117,104,213),
    rgb(121,98,210),
    rgb(124,93,208),
    rgb(128,86,205),
    rgb(132,80,202),
    rgb(135,75,199),
    rgb(138,69,198)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
