/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /*color: rgb(135,75,199);*/
    color: rgba(0, 0, 0, 0.65);

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/*!* VARIABLES *!*/

:root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #f9f9f9;
    /*--neutral-color: #fff;*/
    --neutral-color: #fdfdfd;
}

/*!* GENERAL *!*/
.headerCalendar {
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 1.4em 0;
    border-bottom: 1px solid var(--border-color);
    /*background: var(--neutral-color);*/
}

.headerCalendar #logo {
    font-size: 175%;
    text-align: center;
    margin-right: 39%;
    margin-left: 39%;
}

.col-text {
   /* color: rgb(135,75,199);*/
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    text-transform: uppercase;
}
.col-col-center {
    /*margin-right: 30px;*/
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col-start {
    flex-grow: 3;
    justify-content: flex-end !important;
    text-align: end;
}

.col-center {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.col-end {
    flex-grow: 3;
    justify-content: flex-start !important;
    text-align: start;
}

/*!* Calendar *!*/

.calendar {
    display: block;
    position: relative;
    width: 100%;
    line-height: initial;
    padding: 0 4em 0 4em;
}

.calendar .header {
    text-transform: capitalize;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
    height: 49px;
    background-color: #EBEBEB;
    border-radius: 4px;
}

.calendar .header .icon {
    cursor: pointer;
    transition: .15s ease-out;
}

.calendar .header .icon:hover {
    transform: scale(1.75);
    transition: .25s ease-out;
    color: var(--main-color);
}

.calendar .header .date div, .calendar .header .date button {
    font-weight: 600;
    align-items: center;
}

.calendar .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar div .body {
    border: 1px solid rgba(200, 200, 200, 0.65);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 2px rgba(132, 132, 132, 0.5);
}

/*!*День недели*!*/
.calendar .days {
    font-weight: 400;
    font-size: 1em;
    /*margin: 0 10px 0 10px;*/
    height: 42px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(42, 53, 108, 0.75);
    box-shadow: 0px 0px 5px rgba(132, 132, 132, 0.5);
}

.days .col-text {
    color: rgb(255, 255, 255);
    height:100%;
    line-height: 38px;
}

.days .border-line {
    border-right: rgb(200, 200, 200) solid 1px;
    border-left: rgb(200, 200, 200) solid 1px;
}

.days .border-line:first-child {
    border-left: 0;
}

.days .border-line:last-child {
    border-right: 0;
}

.days-header {
    display: flex;
    padding-top: .5em;
    height: 25px;
}

/*!*Даты в месяце*!*/
.calendar .body .cell {
    position: relative;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
    flex-direction: column;
    align-items: unset;
    height: auto;
    justify-content: unset;
}

/*!*Подсветка ячейки при наведении мыши*!*/
.calendar .body .cell:hover {
    background: var(--bg-color);
    transition: 0.5s ease-out;
}

.calendar .body .cell.selected{
    border: 1px #2f54eb solid;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2), inset 0px 1px 2px rgba(0,0,0,0.2), inset 0px 1px 2px rgba(0,0,0,0.2);
}

.calendar .body .row {
    border-bottom: 2px solid var(--border-color);
    align-items: unset;
}

.calendar .body .row:last-child {
     border-bottom: none;
 }

.calendar .body .cell:last-child {
    border-right: none;
}

.calendar .body .cell .number {
    position: absolute;
    font-size: 14px;
    line-height: 1;
    top: .5em;
    right: .75em;
    font-weight: 700;
    color: #333333;
}

.calendar .body .cell .title {
    font-size: 12px;
    font-weight: 600;
    margin-left: 6px;
    color: rgb(135, 135, 135);
}

.calendar .body .disabled {
    pointer-events: none;
}

/*Скрыть цифорку слева*/
.calendar .body .cell .bg {
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -.2em;
    right: -.05em;
    transition: .25s ease-out;
    letter-spacing: -.07em;
}

/*Выровнять ячейки по ширине*/
.calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100%/7);
    /*width: calc(100%/7);*/
}


.gradient {
    background: linear-gradient(90deg,
    rgb(61,197,255),
    rgb(66,189,251),
    rgb(69,183,249),
    rgb(73,177,246),
    rgb(77,171,273),
    rgb(80,166,241),
    rgb(83,161,239),
    rgb(87,155,236),
    rgb(90,149,233),
    rgb(94,143,230),
    rgb(98,136,227),
    rgb(101,130,225),
    rgb(107,121,221),
    rgb(110,115,218),
    rgb(114,110,215),
    rgb(117,104,213),
    rgb(121,98,210),
    rgb(124,93,208),
    rgb(128,86,205),
    rgb(132,80,202),
    rgb(135,75,199),
    rgb(138,69,198)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fullscreen-enabled{
    background: var(--neutral-color);
}
.fullscreen-enabled .header .buttonToday{
    margin-top: 8px;
}
.fullscreen-enabled .header .buttonLegend{
    margin-top: 8px;
}
.fullscreen-enabled .header .verticalLine{
    margin-top: 8px;
}
.fullscreen-enabled .header .buttonPlus{
    margin-top: 11px;
}
.fullscreen-enabled .header .buttonPrint{
    margin-top: 9px;
}
.fullscreen-enabled .header .buttonFullScreen{
    margin-top: 9px;
}
.fullscreen-enabled .header .icon{
    margin-top: 17px;
}
.fullscreen-enabled .header .col-col-center{
    margin-top: 1px;
}




/*Ячейки*/

.notification-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.notification-btn {
    display: flex;
    border-radius: 4px;
    height: 100%;
    width: 90%;
    margin: 4px 0;
    color: black;
    justify-content: flex-end;
}

.notification-btn Button{
    display: flex;
    opacity: 0.85;
    background-color: rgb(239, 239, 239);
    height: 28px;
    width: 93%;
    font-size: 12px;
    color: #000000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    line-height: 1;
    justify-content: flex-start;
}

.notification-btn button:hover{
    outline: none;
    border: none;
    color: black;
    background-color: #ffffff;
}

/*Легенда*/
.calendar .ant-drawer-body .col {
    justify-content: unset;
}
.calendar .ant-drawer-right .ant-drawer-content-wrapper {
    top: 80px;
}

.calendar .ant-drawer-wrapper-body .ant-drawer-title {
    font-weight: 600;
    font-size: 20px;
}

.calendar .ant-drawer-wrapper-body {

}

.calendar .ant-drawer-body div.legend__acceptButton {
    position: absolute;
    bottom: 40px;
    right: 0;
    height: 64px;
    width: 450px;
    background-color: #f2f2f2;
    padding: 16px 0 16px 40px;
}

.calendar .ant-drawer-body {
    padding: 24px 40px !important;
}

.calendar .ant-drawer-body .ant-col-17 {
    font-weight: 500;
}

.calendar .ant-btn-primary,
.calendar .ant-btn-primary:hover,
.calendar .ant-btn-primary:focus {
    background-color: #293468;
    border: 1px solid #293468;
}

/*______________________________________________*/

.verticalLine {
    border-left: 1px solid #B3B3B3;
    height: 32px;
    margin: auto 10px;
}

.ant-select-item-option-content {
    cursor: pointer;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.functionalBar__header svg {
    fill: #5E6785;
}