.change-log {
    text-align: left;
    border: 1px solid #D9D9D9;
    height: 100%;
    border-radius: 8px 8px 8px 8px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.change-log-header {
    background: #F2F2F2;
    box-sizing: border-box;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 8px 8px 0 0;
}

.change-log-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
}

.change-log-body {
    height: calc(100% - 55px);
    overflow-y: auto;
}

.log-day {
    padding: 16px 16px 0 16px;
}

.log-day-entry > div {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

