.functionalBar__header {
    background: #F2F2F2 !important;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.adaptive-bar-hidden {
    display: none !important;
    margin: 0;
    padding: 0;
}

.horizontal-line {
    border-top: 1px solid #D9D9D9;
}

.menu-horizontal-line {
    border-top: 1px solid #D9D9D9;
    margin: 0 16px 4px 16px;
}

.flex-bar-item {
    display: flex;
    flex-direction: row;
}

.adaptive-bar-column-flex {
    display: flex;
    flex-direction: column;
    height: 104px !important;
    min-width: 375px !important;
}

.fill-space {
    width: 100% !important;
}

.caption {
    margin-left: 0 !important;
}

#searchTransformer > span {
    margin-left: 0 !important;
    margin-right: 16px !important;
    width: 100% !important;
}

#searchTransformer > button {
    margin-left: 0 !important;
}

.action-menu-item {
    display: flex;
    flex-direction: row;
}

.action-menu-item > .checkboxDiagram > label {
    margin-left: 6px;
}

.action-menu-item > .checkboxDiagram > span {
    margin-left: 38px;
}

.action-menu-item > div > svg {
    margin-left: 4px;
    margin-right: 16px;
}

.action-menu-item:first-child {
    margin-top: 6px;
}

.action-menu-item:last-child {
}

.adaptive-dropdown {
    margin-left: 16px;
    width: 100%;
}

.search-button {
    margin-left: 16px;
    margin-top: 4px;
}

.search-input {
    margin-left: 16px;
    height: 32px;
}

.element-top-margin {
    margin-top: 4px !important;
}

.back-button {
    margin-left: 0 !important;
}

.verticalLine {
    border-left: 1px solid;
    height: 40px !important;
    margin-left: 16px;
}

.margin-top {
    margin-top: 8px;
}

.margin-top-fullscreen {
    margin-top: 4px;
}

.margin-top-button {
    margin-top: 4px;
}

.margin-left {
    margin-left: 16px;
}

.inter-button-margin {
    margin-left: 8px;
}

.export-menu {
    width: 245px;
}

.diagram-select {
    width: 200px;
    margin-top: 4px
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.back-span-text {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    font-style: normal;
}

.checkbox-span-text {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    font-style: normal;
    margin-left: 30px
}