.SortableTotalItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 0px;
    padding-top: 25px;
    background-color: #FFF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}

.SortableList {
    padding: unset;
    /*max-height: 280px;*/
    /*overflow: auto;*/
}

.SortableItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    /*padding-top: 5px;*/
    background-color: #FFF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}

.SortableItemColumn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 0px;
    padding-top: 5px;
    background-color: #FFF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}

.SortableItemHighlight {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 104px;
    padding: 5px 0;
    /*padding-top: 5px;*/
    background-color: #FFF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}

.SortableItemGroupBy {
    width: 100%;
    height: 130px;
    /*padding: 0 0px;*/
    padding-top: 12px;
    background-color: #FFF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    color: #333;
    font-weight: 500;
}

.SortableHelper {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    cursor: row-resize;
    position: absolute;
    /*Эмперическим путём выведенное значение больше z-index antd Drawer
    Для отображения перемещения поверх Drawer*/
    z-index:1000;
}

.SortableHiddenColumnItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 0px;
    padding-top: 5px;
    background-color: #FFF;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}

.search-column {
    width: 100% !important;
}