/* Button panel */

.head-panel{
	padding: 4px 3px;
	height: 40px !important; 
	display: inline-flex;
	box-shadow: 1px 1px 10px #e1e1e1;
	background: #ffffff; 
	margin-bottom: 2px;
	background-color: #fbfbfb;
}
  
.panel-button {
	margin-left: 5px;
	border: 0;
	box-shadow: none;
	background-color: #fbfbfb;
}