/* EcoreApp */

.aside-menu{
	font-weight: lighter;
	font-variant-caps: all-petite-caps;
}

/* Resource editor */

.head-panel{
	padding: 4px 3px;
	height: 40px !important; 
	display: inline-flex;
	box-shadow: 1px 1px 10px #e1e1e1;
	background: #ffffff; 
	margin-bottom: 2px;
	background-color: #fbfbfb;
}
  
.panel-button {
	margin-left: 5px;
	border: 0;
	box-shadow: none;
	background-color: #fbfbfb;
}

.view-box{
	padding: 20px;
}

.resource-container {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px 6px 8px 0px;
	height: 420px;
}

.resource-container-item {
	display: grid; 
	margin: 10px 0px 0px auto; 
	text-align: center;
	border: none;
    box-shadow: 3px 3px 4px 0px #e0e0e0;
    border-radius: 0px;
	height: 35px;
	background: #ffffff
}

.item-close-button {
	right: 6px;
	padding: 6px;
	border: none;
	box-shadow: none;
}

.item-title {
	display: inline-block;
	user-select: none; 
	margin-top: 6px;
}
