.ant-layout {
    background-color: #FAFCFF;
}

.references-button {
    display: inline-block;
    cursor: pointer;
}

.references-button:hover {
    transition: transform 1s;
    transform: scale(1.2);
    color: #46a6ff;
}

.tool-button {
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.tool-button-selected {
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: #46a6ff;
    font-weight: bold;
}

.magnify:hover {
    transition: transform 1s;
    transform: scale(1.2);
}

/*ServerFilter*/
.left-splitter .ant-tree-node-content-wrapper-open {
    color: #B38136!important;
    text-align: center!important;
}

.left-splitter .ant-tree-node-content-wrapper-close {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    /* grey/9 */

    color: #333333;
    text-align: center!important;
}

.left-splitter .ant-tree-node-content-wrapper-normal{
    font-style: normal;
    font-size: 14px;
    line-height: 16px;

    /* grey/9 */

    color: #333333;
    text-align: center!important;
}

.left-splitter .ant-tree-iconEle {
    display: none !important;
}

.left-splitter .ant-tree li ul {
    padding: unset!important;
}

.left-splitter .ant-tree li span.ant-tree-switcher, .left-splitter .ant-tree li span.ant-tree-iconEle {
    left: 90%;
    top: 6px;
}

.left-splitter .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open .ant-tree-switcher-icon:hover{
    font-size: 12px;
    color: #022af8;
}

.left-splitter .ant-tree li span.ant-tree-switcher.ant-tree-switcher .ant-tree-switcher-icon:hover{
    font-size: 12px;
    color: #022af8;
}

.left-splitter .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper.ant-tree-node-selected, .left-splitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper.ant-tree-node-selected{
    color: unset!important;
}

.left-splitter .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:hover>::before,
.left-splitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper:hover>::before{
    background: #FFF8E0 !important;
}
.left-splitter :hover>::before{
    background: #FFF8E0 !important;
}

.left-splitter .ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before,
.left-splitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before,
.left-splitter .ant-tree.ant-tree-directory .ant-tree-child-tree-open li:hover > span.ant-tree-node-content-wrapper::before,
.left-splitter .ant-tree-treenode-switcher-close:hover>::before,
.left-splitter .ant-tree-content-wrapper-normal:hover>::before,
.left-splitter .ant-tree-node-content-wrapper-open:hover>::before{
    background: #FFF8E0 !important;
    border-right: 2px solid orange !important;
    height: 40px !important;
}


.left-splitter.ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper.ant-tree-node-selected,
.left-splitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: rgba(0, 0, 0, 0.65);
}

.left-splitter .ant-tree-child-tree li,
.left-splitter .ant-tree-treenode-switcher-close,
.left-splitter .ant-tree-node-content-wrapper-open::before {
    height: 40px !important;
}

.left-splitter .ant-tree-treenode-switcher-close span,
.left-splitter .ant-tree-child-tree li span,
.left-splitter .ant-tree-node-content-wrapper-open span{
    top: 8px;

}

.left-splitter .ant-tree-child-tree > li:first-child {
    padding: unset;
    margin-top: 8px;
}

.left-splitter .ant-tree-node-content-wrapper-open {
    margin-bottom: 10px !important;
    font-weight: 700;
}

.left-splitter .ant-tree > li:first-child {
    padding-top: unset;
}

#referenceTree {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: none;
}

#referenceTree .ant-menu-item,
#referenceTree .ant-menu-submenu-popup,
#referenceTree .ant-menu-submenu > .ant-menu {
    background-color: unset;
}

#referenceTree .ant-menu-item-selected {
    background-color: #FFF8E0;
    color: #333333;
    font-weight: 500;
}

#referenceTree li.ant-menu-item,
#referenceTree .ant-menu-item>a,
#referenceTree .ant-menu,
#referenceTree .header-menu {
    color: #333333;
}

#referenceTree.ant-menu-vertical .ant-menu-item,
#referenceTree.ant-menu-vertical-left .ant-menu-item,
#referenceTree.ant-menu-vertical-right .ant-menu-item,
#referenceTree.ant-menu-inline .ant-menu-item,
#referenceTree.ant-menu-vertical .ant-menu-submenu-title,
#referenceTree.ant-menu-vertical-left .ant-menu-submenu-title,
#referenceTree.ant-menu-vertical-right .ant-menu-submenu-title,
#referenceTree.ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0;
    margin-bottom: 0;
}

#referenceTree .ant-menu-submenu-title {
    font-weight: 500;
}

#referenceTree > .ant-menu-item {
    font-weight: 500;
}

#referenceTree.ant-menu-inline,
#referenceTree.ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 1px solid transparent;
}

#referenceTree .ant-menu-inline .ant-menu-item,
#referenceTree .ant-menu-inline .ant-menu-submenu-title {
     width: 100%;
}

#referenceTree li.ant-menu-submenu > div {
    border-right: 3px transparent;
}

#referenceTree li.ant-menu-submenu-selected > div {
    /*background-color: #FFF8E0;
    border-right: 3px solid #FFCC66;*/
    color: #B38136;
    font-weight: 500;
}

#referenceTree li.ant-menu-submenu-selected > div > div > div > svg {
    fill: #B38136;
}

#referenceTree .ant-menu-vertical .ant-menu-item::after,
#referenceTree .ant-menu-vertical-left .ant-menu-item::after,
#referenceTree .ant-menu-vertical-right .ant-menu-item::after,
#referenceTree .ant-menu-inline .ant-menu-item::after  {
    border-right: 3px solid #FFCC66
}

#referenceTree .ant-menu-item::after {
    border-right: 3px transparent;
}

#referenceTree .ant-menu-item-selected::after {
    border-right: 3px solid #FFCC66;
}

#referenceTree .ant-menu-submenu-title:hover {
    color: #B38136;
}

#referenceTree .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
#referenceTree .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: #666666 !important;
}

#referenceTree .ant-menu-submenu-arrow::before,
#referenceTree .ant-menu-submenu-arrow::after {
    background: #666666 !important;
}

#referenceTree .menu-content {
    display: inline-flex;
    align-items: flex-start;
    line-height: 20px;
}

#referenceTree .menu-content span {
    display: inline-flex;
    align-items: center;
    line-height: 20px;
    margin: 10px 0 10px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#referenceTree .menu-content:hover {
    color: #B38136;
    fill: #B38136;
}


#referenceTree .menu-content > div > svg {
    margin: 12px 12px 12px 0;
    fill: currentColor;
}

#referenceTree * {
    white-space: pre-wrap;
    height: auto;
}

#referenceTree.ant-menu-vertical .ant-menu-item,
#referenceTree.ant-menu-vertical-left .ant-menu-item,
#referenceTree.ant-menu-vertical-right .ant-menu-item,
#referenceTree.ant-menu-inline .ant-menu-item,
#referenceTree.ant-menu-vertical .ant-menu-submenu-title,
#referenceTree.ant-menu-vertical-left .ant-menu-submenu-title,
#referenceTree.ant-menu-vertical-right .ant-menu-submenu-title,
#referenceTree.ant-menu-inline .ant-menu-submenu-title {
    overflow: unset
}

#referenceTree.short-size > li > div > i {
    display: none;
}

#referenceTree .menu-content > .menu-content {
    padding-left: 40px;
}

#referenceTree .menu-content:not(.menu-with-icon) {
    /*should match referenceTree inlineIndent*/
    padding-left: 29px;
}

.application-footer  {
    padding: 0 0 0 12px;
    border-top: 1px #F2F2F2 solid;
    width: 100%
}

.footer-item {
    margin: 4px 0 0 16px;
}

.pane.horizontal.primary {
    overflow: auto;
}

#logContent {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: Roboto, serif;
}

#logContent > div {
    padding: 6px 0 6px 16px;
    display: inline-flex;
}

#logContent > div > div {
    margin: 0 16px 0 0;
}

#logContent > div:nth-child(odd) {
    background-color: #fafafa;
}

.debug-tabs-pane .ant-tabs-ink-bar {
    bottom: unset;
    top: 0;
}

.debug-tabs-pane .ant-tabs-bar {
    border-bottom: unset;
}

.debug-tabs-pane .ant-tabs-bar {
    margin: 0 0 0 0;
}

.debug-tabs-pane .ant-tabs-tab {
    padding: 6px 0 6px 0;
}

.debug-tabs-pane .ant-tabs-tab-active > button {
    font-weight: 500 !important;
}

.debug-item {
    margin: -4px 0 0 0;
}

.debug-item > div  {
    margin: 0 12px 0 0
}

#debugContainer {
    display: inline-flex;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}

#debugInnerBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    position: sticky;
    background-color: #F2F2F2;
    padding: 6px 16px 4px 16px;
    font-size: 20px;
    height: 100%;
    border-right: 1px #D9D9D9 solid;
}

.url-content {
    width: 100%;
    height: fit-content;
}

.pane.horizontal.primary {
    overflow-x:hidden;
}

.url-content.table {
    border-collapse: separate;
    font-family: Roboto, serif;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
}

.url-content thead > tr > th {
    color: #424D78;
    font-weight: 500;
    background-color: #ffffff !important;
}

.url-content thead > tr > th {
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 12px 16px 12px 16px !important;
}

.url-content tbody > tr {
    border: 1px solid transparent;
}

.url-content tbody > tr > td {
    color: #333333;
}

.url-content tbody > tr > td > div > p {
    margin-bottom: 4px;
}

.url-content tbody > tr > td {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #E6E6E6;
    padding: 12px 16px 12px 16px !important;
}

.url-content tbody > tr > td:first-child {
    border-left: 1px solid transparent;
}

.url-content tbody tr {
    height: 40px;
    background-color: #FAFAFA !important;
}

.url-content tbody tr:nth-child(2n) {
    background-color: #ffffff !important;
}

.url-content th {
    position: sticky;
    top: 0;
}

.url-content td > div > p:last-child {
    margin-bottom: 0;
}

.url-content td,
.url-content th {
    vertical-align: baseline;
}

.application-footer-container {
    position: sticky;
    top: 0;
    height: 40px;
}

.url-content .ant-table {
    border: none;
}

.left-splitter  {
    height: 100%;
}

.left-splitter > section {
    height: calc(100% - 40px);
}

.references-tree-footer {
    display: flex;
    height: 40px;
    background: #E6E6E6;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.references-tree-footer > button {
    margin: auto 0 auto 12px
}

.references-tree-footer > button > .typography {
    margin: 0 0 0 8px;
}

/*z-index higher than Drawer standard 1000 to display debug content*/
.horizontal-splitter .pane.horizontal {
    z-index: 10000;
}