.ant-layout {
    background-color: #FAFCFF;
}

.references-button {
    display: inline-block;
    cursor: pointer;
}

.references-button:hover {
    transition: transform 1s;
    transform: scale(1.2);
    color: #46a6ff;
}

.tool-button {
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.tool-button-selected {
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: #46a6ff;
    font-weight: bold;
}

.magnify:hover {
    transition: transform 1s;
    transform: scale(1.2);
}

/*ServerFilter*/
.leftSplitter .ant-tree-node-content-wrapper-open {
    color: #B38136!important;
    text-align: center!important;
}

.leftSplitter .ant-tree-node-content-wrapper-close {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    /* grey/9 */

    color: #333333;
    text-align: center!important;
}

.leftSplitter .ant-tree-node-content-wrapper-normal{
    font-style: normal;
    font-size: 14px;
    line-height: 16px;

    /* grey/9 */

    color: #333333;
    text-align: center!important;
}

.leftSplitter .ant-tree-iconEle {
    display: none !important;
}

.leftSplitter .ant-tree li ul {
    padding: unset!important;
}

.leftSplitter .ant-tree li span.ant-tree-switcher, .leftSplitter .ant-tree li span.ant-tree-iconEle {
    left: 90%;
    top: 6px;
}

.leftSplitter .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open .ant-tree-switcher-icon:hover{
    font-size: 12px;
    color: #022af8;
}

.leftSplitter .ant-tree li span.ant-tree-switcher.ant-tree-switcher .ant-tree-switcher-icon:hover{
    font-size: 12px;
    color: #022af8;
}

.leftSplitter .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper.ant-tree-node-selected, .leftSplitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper.ant-tree-node-selected{
    color: unset!important;
}

.leftSplitter .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:hover>::before,
.leftSplitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper:hover>::before{
    background: #FFF8E0 !important;
}
.leftSplitter :hover>::before{
    background: #FFF8E0 !important;
}

.leftSplitter .ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before,
.leftSplitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper::before,
.leftSplitter .ant-tree.ant-tree-directory .ant-tree-child-tree-open li:hover > span.ant-tree-node-content-wrapper::before,
.leftSplitter .ant-tree-treenode-switcher-close:hover>::before,
.leftSplitter .ant-tree-content-wrapper-normal:hover>::before,
.leftSplitter .ant-tree-node-content-wrapper-open:hover>::before{
    background: #FFF8E0 !important;
    border-right: 2px solid orange !important;
    height: 40px !important;
}


.leftSplitter.ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper.ant-tree-node-selected,
.leftSplitter .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: rgba(0, 0, 0, 0.65);
}

.leftSplitter .ant-tree-child-tree li,
.leftSplitter .ant-tree-treenode-switcher-close,
.leftSplitter .ant-tree-node-content-wrapper-open::before {
    height: 40px !important;
}

.leftSplitter .ant-tree-treenode-switcher-close span,
.leftSplitter .ant-tree-child-tree li span,
.leftSplitter .ant-tree-node-content-wrapper-open span{
    top: 8px;

}

.leftsplitter .ant-tree-child-tree > li:first-child {
    padding: unset;
    margin-top: 8px;
}

.leftSplitter .ant-tree-node-content-wrapper-open {
    margin-bottom: 10px !important;
    font-weight: 700;
}

.leftSplitter .ant-tree > li:first-child {
    padding-top: unset;
}

#referenceTree .ant-menu-item,
#referenceTree .ant-menu-submenu-popup,
#referenceTree .ant-menu-submenu > .ant-menu {
    background-color: unset;
}

#referenceTree .ant-menu-item-selected {
    background-color: #FFF8E0;
    color: #333333;
}

#referenceTree li.ant-menu-item,
#referenceTree .ant-menu-item>a,
#referenceTree .ant-menu,
#referenceTree .header-menu {
    color: #333333;
}

#referenceTree li.ant-menu-submenu > div {
    border-right: 3px transparent;
}

#referenceTree li.ant-menu-submenu-selected > div {
    background-color: #FFF8E0;
    border-right: 3px solid #FFCC66;
}

#referenceTree .ant-menu-vertical .ant-menu-item::after,
#referenceTree .ant-menu-vertical-left .ant-menu-item::after,
#referenceTree .ant-menu-vertical-right .ant-menu-item::after,
#referenceTree .ant-menu-inline .ant-menu-item::after  {
    border-right: 3px solid #FFCC66
}

#referenceTree .ant-menu-item::after {
    border-right: 3px transparent;
}

#referenceTree .ant-menu-item-selected::after {
    border-right: 3px solid #FFCC66;
}

#referenceTree .ant-menu-submenu-title:hover {
    color: #333333;
}

#referenceTree .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
#referenceTree .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: #333333 !important;
}

#referenceTree .ant-menu-submenu-arrow::before,
#referenceTree .ant-menu-submenu-arrow::after {
    background: #333333 !important;
}

#referenceTree .menu-content {
    display: inline-flex;
}

#referenceTree .menu-content > div > svg {
    margin: 12px 12px 12px 0;
}

#referenceTree.ant-menu-vertical .ant-menu-item,
#referenceTree.ant-menu-vertical-left .ant-menu-item,
#referenceTree.ant-menu-vertical-right .ant-menu-item,
#referenceTree.ant-menu-inline .ant-menu-item,
#referenceTree.ant-menu-vertical .ant-menu-submenu-title,
#referenceTree.ant-menu-vertical-left .ant-menu-submenu-title,
#referenceTree.ant-menu-vertical-right .ant-menu-submenu-title,
#referenceTree.ant-menu-inline .ant-menu-submenu-title {
    overflow: unset
}

#referenceTree.short-size > li > div > i {
    display: none;
}

.application-footer  {
    display: inline-flex;
    border-top: 1px #F2F2F2 solid;
    width: 100%
}

.debug-item {
    margin: -4px 0 0 0;
}

.footer-item {
    margin: 4px 0 0 16px;
}

#verticalLine {
    border-left: 1px solid #E6E6E6;
    height: 20px;
    margin: 10px 16px 0 16px;

}

.pane.horizontal.primary {
    overflow: auto;
}

#logContent {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logContent > div {
    padding: 0 0 0 16px;
    display: inline-flex;
}

#logContent > div > div {
    margin: 0 16px 0 0;
}

#logContent > div:nth-child(odd) {
    background-color: #FAFAFA;
}

.debug-tabs-pane .ant-tabs-ink-bar {
    bottom: unset;
    top: 0;
}

.debug-tabs-pane .ant-tabs-bar {
    border-bottom: unset;
}

.debug-tabs-pane .ant-tabs-bar {
    margin: 0 0 0 0;
}

.debug-tabs-pane .ant-tabs-tab {
    padding: 6px 0 6px 0;
}

.debug-item > div  {
    margin: 0 16px 0 0
}

#debugContainer {
    display: inline-flex;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}

#debugInnerBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    position: sticky;
    background-color: #F2F2F2;
    padding: 12px 16px 4px 16px;
    font-size: 20px;
    height: 100%;
    border-right: 1px #D9D9D9 solid;
}

#urlContent {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
}

#urlContent > div {
    padding: 0 0 0 16px;
}

#urlContent > div:nth-child(odd) {
    background-color: #FAFAFA;
}