/*override*/
#meta-browser * .ant-tabs-top-bar {
    max-width: 48.9vw !important;
    margin-bottom: 16px;
}

#meta-browser * .ant-input {
    width: 319px;
}

#meta-browser * .ant-tabs-nav-container {
    max-width: 48.9vw !important;
}

#meta-browser *  .ant-tabs-tab {
    color: #424D78 !important;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    word-wrap: unset;
    white-space: nowrap;
    text-transform: capitalize;
}
/*regions*/
#meta-browser {
    padding: 22px 0 0;
}

.meta-browser-tabs-region {
    position: relative;
    height: 810px;
}

.meta-browser-center-element {
    padding: 0 56px;
}

/*text*/

.ag-theme-material .ag-cell {
    line-height: 40px !important;
}

.meta-browser-text {
    color: #333333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    word-wrap: unset;
    white-space: nowrap;
    margin-bottom: 4px;
}

.meta-browser-highlighted-text {
    margin-top: inherit;
    margin-bottom: inherit;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.meta-browser-highlighted-text[data-color="blue"] {
    color: #424D78 !important;
}

.meta-browser-highlighted-text[data-color="yellow"] {
    color: #B38136 !important;
}

.meta-browser-highlight-even {
    background-color: #FFF8E0 !important;
}

.meta-browser-highlight-odd {
    background-color: #FFFCF3 !important;
}

/*grid row*/

.meta-browser-parent-element {
    display: flex;
    justify-content: space-between;
}

/*elements*/

.meta-browser-button  {
    background-color: transparent;
    border: transparent;
    top: 5px;
}

.meta-browser-button:active  {
    outline: none;
}

.meta-browser-input {
    position: absolute;
    right: 56px;
    top:  105px;
    z-index: 10000;
}
