.paginator {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

.paginator .page-view-container {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    right: 200px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8C8C8C;
    align-items: center;
    height: 25px;
    line-height: 1.8;
}

.paginator .page-view-container .hint {
    margin-right: 15px;
}

.paginator.paginator-small .page-view-container {
    right: 0;
}

.paginator.single-page .page-view-container {
    justify-content: center;
}

.paginator.single-page > .page-view-container {
    right: 68px !important;
}

/*.paginator .ant-pagination-options-size-changer {
    width:64px
}*/

.paginator .Arrow{
    width: 16px;
    height: 24px;
    background: transparent;
    padding: 0;
}

.paginator .Arrow svg{
    margin-top: 1px;
    width: 16px;
    height: 13px;
    fill: #333333;
}

.paginator .Arrow svg:hover {
    fill: #022af7;
}

.paginator .jump-first {
    width: 16px;
    height: 24px;
    background: transparent;
    padding: 0;
    bottom: 1px;
    margin: 0 8px 0 0;
}


.paginator .jump-first svg{
    margin-top: 1px;
    width: 16px;
    height: 13px;
    fill: #333333;
}

.paginator .jump-first svg:hover {
    fill: #022af7;
}

.paginator .Arrow{
    margin-top: 1px;
    width: 16px;
    height: 13px;
    fill: #333333;
}

.paginator .Arrow:hover{
    fill: #022af7;
}


.paginator .jump-last {
    width: 16px;
    height: 24px;
    background: transparent;
    padding: 0;
}

.paginator .jump-last svg{
    margin-top: 1px;
    width: 16px;
    height: 13px;
    fill: #333333;
}

.paginator .jump-last svg:hover {
    fill: #022af7;
}

.paginator.paginator-small .ant-pagination-options{
    display: none;
}


.paginator.paginator-small .ant-pagination-next {
    margin-right: 32px;
}

.paginator .ant-pagination-next {
    margin-right: 20px;
}

.paginator .ant-pagination-item-link {
    margin-left: 0 ;
    margin-right: 0;
}

.paginator .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon{
    color: #022af7!important;
}

.paginator .ant-pagination.mini {
    line-height: initial;
}

.paginator .ant-pagination.mini .ant-pagination-prev, .ant-pagination.mini .ant-pagination-next {
    line-height: 22px !important;
}

.paginator .ant-select-sm .ant-select-selection--single {
    height: 24px !important;
    width: 104px;
    margin-left: 40px;
}
.paginator .ant-select-sm .ant-select-selection--single:hover {
    border: 1px solid #424D78 !important;
}

.paginator .ant-pagination.mini .ant-pagination-options-quick-jumper input {
    margin-left: 16px;
    width: 36px !important;
    box-shadow: unset!important;
}

.paginator .ant-pagination.mini .ant-pagination-options-quick-jumper input:hover{
    border: 1px solid #424D78 !important;
}

.paginator .ant-pagination-options-quick-jumper input:focus,
.paginator .ant-pagination-options-quick-jumper input:hover {
    box-shadow: none !important;
    border: 1px solid #2A356C !important;
}

.paginator .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
    border-color: #424D78 !important;
    box-shadow: unset!important;
}

.paginator .ant-pagination.mini .ant-select-sm .ant-select-selection--single{
    margin-left: 12px;
}

.paginator .ant-pagination.mini .ant-pagination-options-quick-jumper {
    margin-left: 12px;
}

.paginator .ant-pagination.mini .ant-pagination-item-active {
    font-weight: 500;
    background: #FFF8E0;
    border: 1px solid #FFCC66;
    box-sizing: border-box;
    border-radius: 2px;
}

.paginator .ant-pagination.mini .ant-select-sm .ant-select-selection__rendered {
    margin-left: 12px;
    line-height: 22px;
}

.paginator .ant-pagination.mini .ant-pagination-prev
:hover{
    font-size: 12px;
    color: #022af8;
}

.paginator .ant-pagination.mini .ant-pagination-next
:hover{
    font-size: 12px;
    color: #022af8;
}

.datasearch__filter__drawer .ant-drawer-close,
.datasearch__filter__drawer .ant-pagination {
    display: none;
}

.paginator .ant-select-sm.ant-pagination-options-size-changer.ant-select.ant-select-enabled{
    z-index: 99999;
}

.paginator .ant-pagination-jump-prev,
.paginator .ant-pagination-jump-next {
    display: none;
}

.paginator .ant-pagination-prev,
.paginator .ant-pagination-next {
    min-width: 16px !important;
}

.paginator .ant-pagination-item > a {
    margin-top: -1px ;
}

.developer_paginator {
    background: #e6e6e6;
    height: 40px;
    padding: 8px 16px !important;
    margin: 0 35px;
    max-width: 100%;
    width: unset !important;
}

.paginator .ant-select-dropdown-placement-bottomLeft,
.paginator .ant-select-dropdown-placement-topLeft,
.paginator .ant-select-dropdown-placement-topRight {
    top: unset!important;
    transform: translate(-20px,-260px) !important;
}

.developer_paginator .paginator-large {
    margin: unset !important;
}

.developer_paginator .paginator-large .ant-pagination-options {
    margin-left: 15px;
}