#paginator {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

#paginator #pageView {
    position: absolute;
    bottom: 3px;
    right: 256px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8C8C8C;
}

#paginator.single-page >  #pageView {
    right: 128px !important;
}

#paginator.single-page .ant-pagination-next {
    margin-right: 90px !important;
}

#paginator #toFirst {
    width: 16px;
    height: 24px;
    background: transparent;
    padding: 0;
    margin-top: -0.5px;
}

#paginator #toFirst svg{
    margin-top: 1px;
    width: 16px;
    height: 13px;
    fill: #333333;
}

#paginator #toFirst svg:hover {
    fill: #022af7;
}

#paginator #toLast {
    position: absolute;
    width: 16px;
    height: 24px;
    background: transparent;
    padding: 0;
    margin-top: -0.75px;
}

.single-page > #toLast{
    right: 200px !important;
}

#paginator #toLast svg{
    margin-top: 1px;
    width: 16px;
    height: 13px;
    fill: #333333;
}

#paginator #toLast svg:hover {
    fill: #022af7;
}

/*Positioning*/
#paginator.paginator-large .ant-pagination-next {
    margin-right: 119px;
}

#paginator.paginator-large #toLast {
    right: 356px;
}

#paginator.paginator-small .ant-pagination-options{
    display: none;
}

#paginator.paginator-small #toLast {
    right: 16px;
}

#paginator.paginator-small .ant-pagination-next {
    margin-right: 32px;
}

#paginator .ant-pagination-next {
    margin-right: 20px;
}

#paginator #toLast {
    right: 256px;
}

.ant-pagination-item-link {
    margin-left: 0 ;
    margin-right: 0;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon{
    color: #022af7!important;
}

.ant-pagination.mini .ant-pagination-prev, .ant-pagination.mini .ant-pagination-next {
    line-height: 22px !important;
}

.ant-select-sm .ant-select-selection--single {
    height: 24px !important;
    width: 104px;
    margin-left: 40px;
}
.ant-select-sm .ant-select-selection--single:hover {
    border: 1px solid #424D78 !important;
}

.ant-pagination.mini .ant-pagination-options-quick-jumper input {
    margin-left: 16px;
    width: 36px !important;
    box-shadow: unset!important;
}

.ant-pagination.mini .ant-pagination-options-quick-jumper input:hover{
    border: 1px solid #424D78 !important;
}

.ant-pagination-options-quick-jumper input:focus,
.ant-pagination-options-quick-jumper input:hover {
    box-shadow: none !important;
    border: 1px solid #2A356C !important;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
    border-color: #424D78 !important;
    box-shadow: unset!important;
}
.ant-pagination.mini .ant-pagination-item{
    margin: 0 5px !important;
}
.ant-pagination.mini .ant-select-sm .ant-select-selection--single{
    margin-left: 12px;
}

.ant-pagination.mini .ant-pagination-options-quick-jumper {
    margin-left: 12px;
}

.ant-pagination.mini .ant-pagination-item-active {
    font-weight: 500;
    background: #FFF8E0;
    border: 1px solid #FFCC66;
    box-sizing: border-box;
    border-radius: 2px;
}

.ant-pagination.mini .ant-select-sm .ant-select-selection__rendered {
    margin-left: 12px;
    line-height: 22px;
}

.ant-pagination.mini .ant-pagination-prev
:hover{
    font-size: 12px;
    color: #022af8;
}

.ant-pagination.mini .ant-pagination-next
:hover{
    font-size: 12px;
    color: #022af8;
}

.datasearch__filter__drawer .ant-drawer-close,
.datasearch__filter__drawer .ant-pagination {
    display: none;
}

