.hidden-leaf {
    display: none;
}

.modal-add-resource > .ant-modal-content {
    width: 100%;
}

.modal-add-resource .ant-modal-content,
.expand-modal .ant-modal-content {
    width: 1000px;
}

.modal-add-inner-ref > .ant-modal-content > .ant-modal-body {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.modal-add-inner-ref > .ant-modal-content > .ant-modal-body > button {
    margin: 0 0 0 16px;
}

.modal-apply-changes .ant-modal-content,
.modal-apply-changes button,
.modal-apply-changes {
    width: fit-content !important;
}

.icon-tree {
    margin-top: 4px;
}

.modal-add-inner-ref .ant-modal-footer .ant-btn-icon-only.ant-btn-lg {
    width: 32px;
    height: 32px;
    background-color: #424D78;
}

.add-element-sub-menu {
    top: 80px !important;
}

.add-element-sub-menu li {
    height: 20px !important;
    line-height: 20px !important;
}


