/*override antd & neo design*/
#tools * .ant-tag {
    font-size: 16px;
    height: 34px !important;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    background-color: #fff;
    border: 1px solid #171D45;
    color: #424D78;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    margin: 3px 3px 3px 3px;
}

#tools * .ant-tag-hidden {
    display: none;
}

#tools * .ant-select-selection--single {
    font-size: 14px !important;
}

#tools * .anticon-close {
    height: 18px;
    width: 18px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 22C6.48593 22 2 17.5141 2 12C2 6.48593 6.48593 2 12 2C17.5141 2 22 6.48593 22 12C22 17.5141 17.5141 22 12 22ZM12 3.42853C7.27374 3.42853 3.42853 7.27374 3.42853 12C3.42853 16.7263 7.27374 20.5715 12 20.5715C16.7263 20.5715 20.5715 16.7263 20.5715 12C20.5715 7.27374 16.7263 3.42853 12 3.42853Z' fill='%23424D78'/%3e%3cpath d='M15.571 16.2857C15.3882 16.2857 15.2054 16.216 15.066 16.0764L7.92318 8.93359C7.6441 8.65451 7.6441 8.20254 7.92318 7.92361C8.20211 7.64468 8.65423 7.64453 8.93316 7.92361L16.0759 15.0664C16.355 15.3455 16.355 15.7975 16.0759 16.0764C15.9365 16.216 15.7538 16.2857 15.571 16.2857Z' fill='%23424D78'/%3e%3cpath d='M8.42809 16.2858C8.24529 16.2858 8.06264 16.2161 7.92318 16.0764C7.6441 15.7975 7.6441 15.3454 7.92318 15.0665L15.066 7.92367C15.3451 7.64458 15.797 7.64458 16.0759 7.92367C16.3549 8.2026 16.355 8.65472 16.0759 8.93365L8.93316 16.0764C8.79369 16.2161 8.61089 16.2858 8.42809 16.2858Z' fill='%23424D78'/%3e%3c/svg%3e");
}

#tools * .anticon-close svg path {
    display: none;
}

#tools * .btn {
    font-size: 12px !important;
}

/*padding*/
.tools-padding-top {
    padding-top: 19px !important;
}

/*margins*/

.tools-horizontal-center-element {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.tools-vertical-center-element {
    margin-left: auto !important;
    margin-right: auto !important;
}

.tools-margin-top {
    margin-top: 16px !important;
}

.tools-margin-left {
    margin-left: 16px !important;
}

.tools-margin-right {
    margin-right: 19px !important;
}

.tools-branch-checkbox-text-margin {
    margin-top: 5px !important;
}

/*text*/

.tools-header {
    align-items: inherit;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-weight: bold;
    margin-bottom: 18px;
}

.tools-sub-header {
    color: #333333;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    word-wrap: unset;
    white-space: nowrap;
    margin-bottom: 10px;
}

.tools-text {
    color: #333333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    word-wrap: unset;
    white-space: nowrap;
    margin-bottom: 8px;
}

.tools-highlighted-text {
    color: #424D78 !important;
    margin-top: inherit;
    margin-bottom: inherit;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/*containers*/

.tools-branch-region {
    position: relative;
    width: 92vw;
    min-height: 115px;
    margin-top: 32px;
    margin-bottom: 12px;
    background: #FFFFFF;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    /*align-items: start;*/
    flex-wrap: wrap;
}

.tools-tabs-region {
    position: relative;
    width: 92vw;
    height: 76px;
}

.tools-export-region {
    min-height: 448px;
    width: 100%;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tools-export-all-objects {
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.tools-export-files {
    min-height: 56px;
    display: flex;
    align-items: normal
}

.tools-export-objects-region {
    min-height: 206px;
    display: flex;
    flex-direction: column
}

.tools-export-sql {
    height: 138px;
    border-bottom: none
}

.tools-button-region {
    width: 100%;
    height: 64px;
    overflow: hidden;
    background: #F2F2F2;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);

    display: flex !important;
    align-items: center !important;
}

.tools-region-element {
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
}

.tools-icon-container {
    min-width: 275px;
    display: inherit;
    align-items: inherit;
}

.tools-select-checkbox-area {
    display: inline-flex;
    flex-direction: column;
    margin-left: 33px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.tools-import-region {
    min-height: 176px;
    width: 100%;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tools-import-parameters {
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.tools-import-files {
    min-height: 56px;
    display: inline-flex;
    align-items: center;
}

.tools-import-masterdata {
    min-height: 72px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

/*elements*/

.tools-button {
    height: 50% !important;
}

.tools-action-button {
    width: 157px;
}

.tools-clear-button {
    width: 117px;
}

.tools-href {
    align-items: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #B38136 !important;
}

.tools-icon {
    height: 26px;
    width: 26px;
    margin-top: inherit;
    margin-bottom: inherit;
    margin-right: 8px;
}

.tools-checkbox {
    margin-top: 4px !important;
    margin-bottom: 6px !important;
}

.tools-branch-checkbox {
    margin-top: 0px !important;
}

.tools-select {
    width: 528px !important;
    height: 32px !important;
    margin-bottom: 16px;
}

.tools-sql-area {
    margin-top: 8px !important;
    height: 79px !important;
    width: 90%;
    max-width: 416px;
    resize: none;
}

@media screen and (max-width: 800px){
    .tools-branch-region div {
        width: 100%
    }

    .tools-branch-region .select {
        width: 90% !important;
        max-width: 528px;
    }

    .tools-select-checkbox-area {
        width: auto;
    }

    .tools-sql-area {
        height: 79px !important;
        width: 90%;
        max-width: 416px;
        resize: none;
    }
}
