uibase/.vscode/launch.json
/.idea
/workspace
HELP.md
target/
workspace/
application/workspace
base/workspace
**/java-gen/**
**test/java-gen/**
.mvn/
parent.iml


/.metadata/
uireport/package-lock.json
