.references-button {
    display: inline-block;
    cursor: pointer;
}

.references-button:hover {
    transition: transform 1s;
    transform: scale(1.2);
    color: #46a6ff;
}

.tool-button {
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.tool-button-selected {
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: #46a6ff;
    font-weight: bold;
}

.magnify:hover {
    transition: transform 1s;
    transform: scale(1.2);
}