.ant-table-cell {
    text-align: center !important;
}

thead .table__column_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    padding: 4px;
}
thead {
    height: 48px;
    background-color: #F2F2F2 !important;
}
tr th:last-child{
    width: 32px !important;
    align-items: center !important;

}
tbody tr {
    height: 40px;
}
tbody tr:nth-child(2n) {
    background-color: #FAFAFA;
}
 tr:hover>td {
     border-top: 1px solid #D9D9D9 !important;
     border-bottom: 1px solid #D9D9D9 !important;
}
tr:hover>td:first-child{
    border-left: 1px solid #D9D9D9 !important;
}
tr:hover>td:last-child{
    border-right: 1px solid #D9D9D9 !important;
}