

.calendar__header{
    display: block;
    position: relative;
    width: 100%;
    background: var(--neutral-color);
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    height: 56px;
    color: #222222;
}

.calendar__header .header{
    text-transform: capitalize;
    border-bottom: 1px solid var(--border-color);
    height: 56px;
}

.calendar__header .row {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: none;
    width: 100%;
}



.calendar__header .date button {
    font-weight: 600;
    align-items: center;
}

.calendar__header span {
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    transition: .15s ease-out;
}

.calendar__header .col {
    flex-basis: 0;
    max-width: 100%;
}

.calendar__header .col-start {
    flex-grow: 3;
    justify-content: flex-start;
    text-align: end;
}

.calendar__header .col-center {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.calendar__header .col-end {
    flex-grow: 3;
    justify-content: flex-end;
    text-align: start;
}

.calendar__header .col-col-center {
    margin: 0 30px;
}

.calendar__header .col-text {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;

}

.calendar__header .date div {
    font-weight: 600;
    align-items: center;
}

.calendar__header .date > div, button {
    margin-right: 8px !important;
}

.calendar__header .handleCalendarVisible {
    border-radius: 2px;
    height: auto;
    width: 24px;
    padding: 3px;
}

.calendar__header .col-col-center {
    font-size: 120%;
}

.calendar__header .col-end span {
    transform: scale(-1) !important;
}

.calendar__header .tableVisible .NXSelect{
    font-weight: normal;
}

